JWT_SECRET_KEY ="6f9a912dee43bd374f9576461a8452a5456a6bb360b8000df507af0daab09aa9"
JWT_ALGO=HS256
JWT_EXPIRE_MIN=30
SUPABASE_URL = "https://wdfosdnrxbtpvsiouesg.supabase.co"
SUBABASE_KEY = "sb_secret_pmk3LNDOwQZc-vCyWoM-tg_-i7o-JdF"